*{
	margin:0;
	padding:0;
}
body  {
	font-size:14px;
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
	color: #666;
	background-color:#4d6d21;
	background-image:url(images/pagegradient-1.gif);
	background-position:top;
	background-repeat:repeat-x;
}
ul, ol{
	margin-left:20px;
}
li{
}
h1{
	font-size:135%;
	border-bottom:1px solid #ED9B33;
}
h2{
	font-size:115%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EDCE9A;
}
h3{
	font-size:115%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EDCE9A;
}
h4{
	font-size:105%;
}
h5{
	font-size:95%;
}
h6{
	font-size:85%;
}
h1,h2,h3,h4,h5,h6{
	color:#ED9B33;
	font-weight:normal;
}
table{
	border-collapse:collapse;
}
th{
	background-color:#E8E8E8;
	text-align:center;
}
td{
}
#banner{
	position:relative;
	width:960px;
	height:240px;
}
a img{
	border:0;
}
a[target="_blank"] {
	padding-right: 12px;
	background-image: url(/images/externalLink-1.gif);
	background-position: right;
	background-repeat: no-repeat;
}
#container { 
	width:960px;
	margin: 0 auto 0 auto;
	text-align: left;
	background-color:#fff;
} 
#sidebar {
	margin-right:6px;
	float: right; 
	width: 270px;
}
#sidebarcontent{
	padding:24px 0 6px 6px;
}
#sidebarcontent img{
	padding:2px;
	border:1px solid #508fc3;
	margin-bottom:24px;
}
#menu{
	position:absolute;
	bottom:0;
	left:0;
	width:960px;
	text-align:center;
}
#main{
	margin-right:280px;
}
#mainContent {
	padding: 24px 6px 6px 24px;
} 
#mainContent p{
	margin-bottom:0.75em;
} 
#mainContent p.small{
	margin-bottom:0.25em;
} 
#mainContent h1{
	margin-bottom:1em;
} 
#mainContent h2{
	margin-top:0.5em;
	margin-bottom:0.5em;
} 
a{
	text-decoration:underline;
	color:#C68824;
}
a:hover{
	text-decoration:underline;
	color:#000;
}
#mainContent ul, #mainContent ol{
	margin-top:3px;
	margin-bottom:3px;
}
#menu ul{
	list-style:none;
	margin-left:0;
	font-size:1.2em;
	background-image:url(images/seethru-1.png);
	border-top:1px solid #fff;
	line-height:24px;
}
#menu ul li{
	display:inline;
}
#menu ul li a{
	padding-left:24px;
	padding-right:24px;
	color:#bbb;
	text-decoration:none;
}
#menu ul li a:hover{
	color:#fff;
	/*background-color:#226820;*/
	background-color:#508fc2;
	text-decoration:none;
}
#menu ul li a.this{
	color:#fff;
}
/* ---- footer ---- */
#footer{
	width:960px;
	margin: 24px auto 0 auto;
	font-size:0.8em;
	color:#ccc;
	text-align:center;
}
#footer a{
	color:#ccc;
	text-decoration:none;
}
#footer a:hover{
	color:#333;
	text-decoration:none;
}
#copyright{
	float:left;
	margin-left:12px;
}
#siteby{
	float:right;
	text-align:right;
	margin-right:12px;
}
#siteby a{
	display:block;
	width:38px;
	height:20px;
	text-decoration:none;
	background-image:url(images/BlackHillWebDesignLogo-15-gray.png);
	background-repeat:no-repeat;
	background-position:top;
	line-height:20px;
	overflow:hidden;
}
#siteby a:hover{
	background-image:url(images/BlackHillWebDesignLogo-15.png);
}

/* ---- Contact ---- */
table.contact{
	border:0;
	border-collapse:collapse;
}
table.contact td.label{
	font-size:0.8em;
	text-align:right;
	padding-right:20px;
	width:10em;
	border:0;
	vertical-align:top;
}
table.contact td.info{
	font-weight:bold;
	padding-bottom:1em;
}
#sidebar p{
	margin-top:0;
	margin-bottom:12px;
}
#sidebar p a img{
	margin:0;
}
.hilite{
	color:#fda545;
}
.nbm{
	margin-bottom:0;
}
#sidebar p.nbm{
	margin-top:0;
	margin-bottom:0;
}
a.button{
	display:block;
	padding:3px 9px 3px 9px;
	color:#fff;
	text-decoration:none;
	background-color:#2b5729;
	border: 1px solid #2b5729;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:lowercase;
}
a.button:hover{
	color:#C68824;
	background-color:#226820;
	text-decoration:none;
	border:1px solid #2b5729;
}
/* --- Misc styles ---- */
.floatRight{
	float:right;
}
.floatLeft{
	float:left;
}
.centre{
	text-align:center;
}
.clear{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.small{
	font-size:0.9em;
}
.noborder{
	border:0;
}
.left{
	text-align:left;
}

.error{
	color:red;
}
